@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@plugin "daisyui";


@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(97% 0.014 343.198);
    --color-base-200: oklch(94% 0.028 342.258);
    --color-base-300: oklch(89% 0.061 343.231);
    --color-base-content: oklch(40% 0.153 2.432);
    --color-primary: oklch(69% 0.17 162.48);
    --color-primary-content: oklch(97% 0.021 166.113);
    --color-secondary: oklch(70% 0.213 47.604);
    --color-secondary-content: oklch(98% 0.016 73.684);
    --color-accent: oklch(69% 0.17 162.48);
    --color-accent-content: oklch(97% 0.021 166.113);
    --color-neutral: oklch(45% 0.187 3.815);
    --color-neutral-content: oklch(97% 0.014 343.198);
    --color-info: oklch(78% 0.154 211.53);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(26% 0.051 172.552);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(28% 0.066 53.813);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 1rem;
    --radius-field: 2rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}


@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(14% 0.005 285.823);
    --color-base-200: oklch(21% 0.006 285.885);
    --color-base-300: oklch(27% 0.006 286.033);
    --color-base-content: oklch(96% 0.001 286.375);
    --color-primary: oklch(85% 0.138 181.071);
    --color-primary-content: oklch(27% 0.046 192.524);
    --color-secondary: oklch(80% 0.114 19.571);
    --color-secondary-content: oklch(25% 0.092 26.042);
    --color-accent: oklch(82% 0.12 346.018);
    --color-accent-content: oklch(28% 0.109 3.907);
    --color-neutral: oklch(37% 0.013 285.805);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(62% 0.214 259.815);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(69% 0.17 162.48);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(70% 0.213 47.604);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(64% 0.246 16.439);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 0.25rem;
    --radius-field: 2rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
